doctype html
html
  head
    title= title
    block css
      link(rel="stylesheet", href="/angular-material/angular-material.min.css")
      link(rel="stylesheet", href="/angular-toastr/dist/angular-toastr.min.css")
    block head-js
      script(src="/javascripts/dist/vendor.bundle.js")
      script(src="/socket.io/socket.io.js")
  body
    block content
    block end-js
